@import "/node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "/node_modules/open-iconic/font/css/open-iconic-bootstrap.min.css";

body {
  height: max-content;
  width: 500px;
  margin: 0;
  padding: 0;
}

#linkList {
  font-size: 0.9rem;
}
