@import "/node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "/node_modules/open-iconic/font/css/open-iconic-bootstrap.min.css";

body {
  height: max-content;
  width: 400px;
  margin: 0;
  padding: 0;
}
